.main-page{
    margin-top: 10rem ;
    width: 627px;
}

.conteiner-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold ;
}

.escolher-login{
    display: flex;
    width: 100%;
}

.faz-login, .faz-cadastro{
    width: 50%;
    background-color: #571616;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 0 .6rem;
}

.faz-login:hover, .faz-cadastro:hover{
    color: #f9f9f9;
    background-color: #812020;
}

.login-escolhido{
    color: #f9f9f9;
    background-color: #812020;
}

#login, #cadastro{
    width: 300px;
    display: flex;
    flex-direction: column; 
    margin: 3rem 0;
    padding: 0;
}

.display-none{
    display: none;
}

input, label{
    margin-top: 0.3rem;
}

input{
    padding: 0.7rem;
    border:none;
    border-bottom: 1px solid #812020;
    background: transparent;
    margin-bottom: 1.5rem;

}

input:hover{
    background-color: rgba(255, 255, 255, 0.35);
}

h1{
    font-size: 1.3rem;
    margin: 1.5rem 0;
}

.botao{
    height: 3rem;
    border: none;
    border-radius: 10px;
    background-color: #818181;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.botao:hover{
    transform: scale(1.05);
    background-color: #b43535;
    color: white;
}

@media screen and (min-width:1920px) {
    .main-page{
        max-width:960px ;
    }    
}

@media screen and (max-width: 754px) {
    
    .main-page{
        margin-top: 6rem;
        width: 100%;
    }

    .conteiner-form{
        flex-direction: column;
        align-items: center;
    }
}